{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "BracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "lf"
}
